## Import Dependencies

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [17]:
# import data
csv_file = "Resources/raw_data.csv"
raw_df = pd.read_csv(csv_file)

raw_df.head()

,Episode #,Episode Title,Original Airdate,Joe's Cheese,Sam's Cheese,Notes and Notable Quotes
0,204,Cheesy Breezy Beautiful,"August 23, 2018",Fresh mozzarella,NaN,No theme song at this point. Sam begins contri...
1,205,Raccoon Handy-J,"August 30, 2018",Jarlsberg,NaN,Joe sings a theme song but it's not the one we...
2,206,"Hmm, Cheese","September 7, 2018",Gruyere,NaN,Joe invents the theme song we know and love.
3,207,Brunch is For the Gays,"September 13, 2018",Comté,NaN,"Joe had not tried it yet, nor did he know how ..."
4,208,Fly Me to the Moon,"September 20, 2018",Cheddar,NaN,"In a cheddar and olive loaf, made to eat with ..."

In [22]:
#reduce the data frame to only Joe and Sam's Cheese's and Notes

#raw_df.columns
reduced_df = raw_data[["Joe's Cheese","Sam's Cheese", "Notes and Notable Quotes"]]

reduced_df.head()

,Joe's Cheese,Sam's Cheese,Notes and Notable Quotes
0,Fresh mozzarella,NaN,No theme song at this point. Sam begins contri...
1,Jarlsberg,NaN,Joe sings a theme song but it's not the one we...
2,Gruyere,NaN,Joe invents the theme song we know and love.
3,Comté,NaN,"Joe had not tried it yet, nor did he know how ..."
4,Cheddar,NaN,"In a cheddar and olive loaf, made to eat with ..."

## Split the Data By Person and Clean the Data

In [30]:
joe_df = reduced_df["Joe's Cheese"]
joe_df.head()

0    Fresh mozzarella
1           Jarlsberg
2             Gruyere
3               Comté
4             Cheddar
Name: Joe's Cheese, dtype: object

In [31]:
sam_df = reduced_df["Sam's Cheese"]
sam_df.head()

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: Sam's Cheese, dtype: object