## Import Scrape Dependencies

In [1]:
from splinter import Browser
from bs4 import BeautifulSoup as bs
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

## Use Beautifulsoup to Scrape Data

In [ ]:
# browser = init_browser()
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

#hemisphere images scrape source
url = "https://halfmoonjoe.fandom.com/wiki/Cheese_of_the_Week"
browser.visit(url)

#extract html and parse with beautifulsoup
table_html = browser.html
table_soup = bs(table_html, "html.parser")

table_src = pd.read_html(url)
table_df = table_src[0]
#table_df = table_df.set_index([0])
#table_df = table_df.rename(columns={1 : "Mars", 2: "Earth"})
#table_df = table_df.drop(index='Mars - Earth Comparison')

# quit the browser
browser.quit()

#### The data has be succesfully scraped and imported into a Dataframe

In [12]:
table_df.head()

,Episode #,Episode Title,Original Airdate,Joe's Cheese,Sam's Cheese,Notes and Notable Quotes
0,204,Cheesy Breezy Beautiful,"August 23, 2018",Fresh mozzarella,NaN,No theme song at this point. Sam begins contri...
1,205,Raccoon Handy-J,"August 30, 2018",Jarlsberg,NaN,Joe sings a theme song but it's not the one we...
2,206,"Hmm, Cheese","September 7, 2018",Gruyere,NaN,Joe invents the theme song we know and love.
3,207,Brunch is For the Gays,"September 13, 2018",Comté,NaN,"Joe had not tried it yet, nor did he know how ..."
4,208,Fly Me to the Moon,"September 20, 2018",Cheddar,NaN,"In a cheddar and olive loaf, made to eat with ..."

In [16]:
table_df.to_csv('./Resources/raw_data.csv', index=False)